@import url("../style/variables.css"); 

/* @mixin link-style {
    color: ($color-link-on);
}
*/

* {
    font-family: 'Merriweather', serif;
}
body {
    background-color: var(--bcolor-main);
    width: 1340px;
    height: 1100px;
}
.hdr {
    background-color: var(--bcolor-lighten);
    width: 1340px;
    height: 92px;    
}
.poney {
    border-radius: 20%;
    width: 137px;
    height: 92px;     
}
h1 {
    color: var(--bcolor-darken); 
    font-size: 26px;
    text-shadow: 2px 2px 4px;
    margin-left:  160px;
    margin-top:  -70px; 
    
} 
.rech {
    display: inline;
    input {
        position: relative;
        background-color: var(--bcolor-element);
        width: 351px;
        height: 58px;
        margin-left: 980px; 
        top: -80px;
    }
    button {
        position: relative;
        background-color: var(--bcolor-main);
        width: 45px;
        height: 45px;
        margin-left: 1279px;
        top: -131px;
        border-radius: 25px 5px 50%;
        transform: rotate(-50deg);
    }  
}

#barre {
    position: relative;
    background-color: var(--bcolor-element);
    width: 600px;
    height: 35px;
    margin-left: 340px;
    top: -170px;
    box-shadow: 8px 8px 6px var(--bcolor-darken);
}
.nav {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    box-sizing: content-box;
    li {
        margin-top: -35px;
        margin-left: -8px;
        padding: 30px;
    }
    
}
.btn {
    position: absolute;
    background-color: #5f7470;
    text-align: center;
    width: 60px;
    height: 35px;
    margin-left: 880px;
    margin-top: -196px;
}
main {
    display: flex;
    flex-direction: row;
    width: 1340px;
    height: calc( 1100px - (92px + 350px));
    article {
        display: inline-flex;
        flex-direction: column;
        height: 150px;
    }
    h2 {
        display: inline;
        height: 40px;
        margin-left: 550px;
    }
    .validation {
        display: flex;
        height: 40px;
        margin-left: 400px;
        margin-top: 10px;
    }
    .liste {
        display: inline-flex;
        height: 230px;
        margin-left: -850px;
        margin-top: 250px;
        li {
            list-style-type: none;
        }
    }
    .liste1 {
        display: inline-flex;
        height: 230px;
        margin-left: 240px;
        margin-top: 250px;
        li {
            list-style-type: none;
        }
    }
    .liste2 {
        display: inline-flex;
        height: 150px;
        margin-left: 200px;
        margin-top: 250px;
        li {
            list-style-type: none;
        }
    }
    .buton {
        display: inline-flex;
        background: var(--bcolor-darken);
        height: 25px;
        border: 2px solid var(--color-write-border);
        border-radius: var(--radius-medium);
        margin-left: -70px;
        margin-top: 437px;
    }
}
 
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--bcolor-darken);
    box-shadow: 2px 2px solid black;
    width: 1340px;
    height: 350px; 
    section {
        width: calc(1340px / 3);
        height: 300px;
    } 
    .coor {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(1340 / 3);
        height: 100%;
        h1 {
            text-align: center; 
            text-shadow: 3px 3px var(--bcolor-lighten);
            margin: 4%;
            padding: 1%;
            transform: skewX(30deg) skewY(5deg);   
        }
        p { 
            display: flex;
        }
    }  
    .map {
        position: relative;
        align-items: baseline;
        width: calc(1340 / 3);
        height: 93%;
        padding: 15px;
    }
    .reseaux {
        position: relative;
        width: calc(1340 / 3);
        height: 90%;
        padding: 10px;
        ul li {
            list-style-type: none;   
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
}