@import url("../style/variables.css");
* {
  font-family: 'Merriweather', serif;
}

body {
  background-color: var(--bcolor-main);
  width: 1340px;
  height: 1100px;
}

.hdr {
  background-color: var(--bcolor-lighten);
  width: 1340px;
  height: 92px;
}

.poney {
  border-radius: var(--radius-big);
  width: 137px;
  height: 92px;
}

h1 {
  color: var(--bcolor-darken);
  font-size: 26px;
  text-shadow: 2px 2px 4px;
  margin-left: 160px;
  margin-top: -70px;
}

.rech {
  display: inline;
}

.rech input {
  position: relative;
  background-color: var(--bcolor-element);
  width: 351px;
  height: 58px;
  margin-left: 980px;
  top: -80px;
}

.rech button {
  position: relative;
  background-color: var(--bcolor-main);
  width: 45px;
  height: 45px;
  margin-left: 1279px;
  top: -131px;
  border-radius: 25px var(--radius-small) 50%;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
}

#barre {
  position: relative;
  background-color: var(--bcolor-element);
  width: 600px;
  height: 35px;
  margin-left: 340px;
  top: -170px;
  -webkit-box-shadow: 8px 8px 6px var(--bcolor-darken);
          box-shadow: 8px 8px 6px var(--bcolor-darken);
}

.nav {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.nav li {
  margin-top: -35px;
  margin-left: -8px;
  padding: 30px;
}

.btn {
  position: absolute;
  background-color: var(--bcolor-darken);
  text-align: center;
  width: 60px;
  height: 35px;
  margin-left: 880px;
  margin-top: -196px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1340px;
  height: calc( 1100px - (92px + 350px));
}

main section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1335px;
  height: 45px;
}

main section h2 {
  letter-spacing: 5px;
  width: auto;
  height: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 230%;
}

main aside {
  position: relative;
  height: 70px;
  margin-left: -500px;
  margin-top: 70px;
}

main aside .nom {
  margin-top: 100px;
}

main aside .interets {
  margin-top: 150px;
}

main aside input {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

main aside button {
  background: #5F7470;
  width: 40px;
  height: 44px;
  margin-left: -40px;
}

main article {
  position: relative;
  background: var(--bcolor-lighten);
  border: 5px solid black;
  border-radius: var(--radius-medium);
  width: 500px;
  height: 500px;
  margin-right: 50px;
  margin-top: 100px;
  text-shadow: 1px 1px var(--color-write-border);
}

main article .obtenue {
  text-align: center;
}

main article input {
  width: 150px;
  height: 25px;
  margin-right: -8%;
}

main article .Nom, main article .Prenom, main article .Interets, main article .one, main article .two, main article .three, main article .Contact {
  padding-left: 5px;
}

main article .message {
  border: 2px solid var(--bcolor-darken);
  border-radius: 5px;
  width: 490px;
  height: 34px;
  padding-left: 6px;
  padding-bottom: -15px;
}

main article .envoie {
  background: var(--bcolor-darken);
  width: 70px;
  height: 25px;
  border-radius: var(--radius-big);
  margin-left: 180px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: var(--bcolor-darken);
  -webkit-box-shadow: 2px 2px solid var(--color-write-border);
          box-shadow: 2px 2px solid var(--color-write-border);
  width: 1340px;
  height: 350px;
}

footer section {
  width: calc(1340px / 3);
  height: 300px;
}

footer .coor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(1340 / 3);
  height: 100%;
}

footer .coor h1 {
  text-align: center;
  text-shadow: 3px 3px var(--bcolor-lighten);
  margin: 4%;
  padding: 1%;
  -webkit-transform: skewX(30deg) skewY(5deg);
          transform: skewX(30deg) skewY(5deg);
}

footer .coor p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .map {
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: calc(1340 / 3);
  height: 93%;
  padding: 15px;
}

footer .reseaux {
  position: relative;
  width: calc(1340 / 3);
  height: 90%;
  padding: 10px;
}

footer .reseaux ul li {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=membres.css.map */